version: '3'

services:
  replay:
    image: ajspeck/pireplay:pidocker
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - ./videos:/videos
    tty: true
    devices:
      - "/dev/vchiq"
    networks:
      - default
      - web
    expose:
      - 8000
    labels:
      - "traefik.backend=replay"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/"
      - "traefik.enable=true"
      - "traefik.port=8000"
      - "traefik.frontend.redirect.entryPoint=https"
      - "traefik.frontend.redirect.permanent=true"
      - "traefik.frontend.headers.SSLForceHost=true"
      - "traefik.frontend.headers.SSLHost=finish.speckfamily.org"
      - "traefik.frontend.headers.SSLRedirect=true"
    environment:
      - CAMERA=pi
      - PYTHONUNBUFFERED=y
  videos:
    image: ajspeck/nginx-autoindex:pidocker
    networks:
      - web
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - ./videos:/usr/share/nginx/html/videos:ro
    labels:
      - "traefik.backend=vidoes"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/videos/"
      - "traefik.enable=true"
      - "traefik.port=80"
      - "traefik.frontend.redirect.entryPoint=https"
      - "traefik.frontend.redirect.permanent=true"
      - "traefik.frontend.headers.SSLForceHost=true"
      - "traefik.frontend.headers.SSLHost=finish.speckfamily.org"
      - "traefik.frontend.headers.SSLRedirect=true"

networks:
   web:
      external: true

